<script type="text/javascript">
    RED.nodes.registerType('tellstick',{
        category: 'advanced',
        color: '#4683d7',
        defaults: {
            name: {value:""},
            deviceId: {value:1},
            option: {value:"ON"}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"tellstick";
        }
    });
</script>

<script type="text/x-red" data-template-name="tellstick">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-deviceId"><i class="icon-tasks"></i>Device Id</label>
        <input type="text" id="node-input-deviceId" placeholder="1">
    </div>

    <div class="form-row">
        <label for="node-input-option"><i class="icon-tasks"></i>Option</label>
        <input type="text" id="node-input-option" placeholder="ON">
    </div>
</script>

<script type="text/x-red" data-help-name="tellstick">
    <p>Controll a tellstick.</p>
</script>